###############################################
# COMMON
###############################################
.git/
.vscode/
node_modules/

*.log
*.*ignore
package-lock.json

###############################################
# SPECIALIZATION
###############################################
src/
lib/tests

*.js.map
tsconfig.json